<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Real Time Sensor Display Using Python, Flask, Flask-SocketIO</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

    <!--chart streaming-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
    
    <link
      href="//mincss.com/entireframework.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{{url_for('static', filename = 'css/app.css')}}" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/app.js') }}"></script>

    <nav class="nav" tabindex="-1" onclick="this.focus()">
      <div class="container">
        <!-- <a class="pagename current" href="#">www.donskytech.com</a> -->
        <img src="{{ url_for('static', filename='small_white.svg') }}" width="50px" height="50px" />

        <h3>Monash Connected Autonomous Vehicles</h3>
      </div>

    </nav>
    <div class="container">
      <!-- <div class="hero"> -->
        <!-- <h1>Real Time Sensor Display</h1>
        <div class="chart-container">
          <canvas id="myChart" width="1000" height="600"></canvas>
        </div> -->
      <div class="row">
        <div class="col c6">
          <div class="chartWrapper">
            <div class="chartAreaWrapper">
              <div class="chartAreaWrapper2">
                <canvas id="chart1" height="300" width="1200"></canvas>
              </div>
            </div>
            <canvas id="axis1" height="300" width="0"></canvas>
          </div>

          <div class="chartWrapper">
            <div class="chartAreaWrapper">
              <div class="chartAreaWrapper2">
                <canvas id="chart2" height="300" width="1200"></canvas>
              </div>
            </div>
            <canvas id="axis2" height="300" width="0"></canvas>
          </div>
        </div>

        <div class="col c6">
          <div class="chartWrapper">
            <div class="chartAreaWrapper">
              <div class="chartAreaWrapper3">
                <canvas id="chart3" height="300" width="1200"></canvas>
              </div>
            </div>
            <canvas id="axis3" height="300" width="0"></canvas>
          </div>


          <div class="chartWrapper">
            <div class="chartAreaWrapper">
              <div class="chartAreaWrapper4">
                <canvas id="chart4" height="300" width="1200"></canvas>
              </div>
            </div>
            <canvas id="axis4" height="300" width="0"></canvas>
          </div>
        </div>
      </div>


        <!-- <div class="chartWrapper">
          <div class="chartAreaWrapper">
            <div class="chartAreaWrapper5">
              <canvas id="chart5" height="300" width="1200"></canvas>
            </div>
          </div>
          <canvas id="axis5" height="300" width="0"></canvas>
        </div> -->



      <!-- </div> -->
    </div>
  </body>
</html>
