.hero {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1em;
}

.hero h1 {
    margin-top: 0;
    margin-bottom: 0.3em;
    text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.container h3 {
  font-family: monospace;
  text-transform:uppercase;
}

.container img {
  padding-bottom: 50px;
}


.chart-container {
	max-width: 800px;
	margin: 0 auto;
}


.chartWrapper {
  position: relative;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chartAreaWrapper {
  /* width: 600px; */
  /* height:600px; */
  overflow-x: scroll;
}
