<launch>

    
    <!-- launch mini ui -->
    <arg name="config" default="$(find mini_tools)/src/config_sim.yaml" />
    <node pkg="mini_tools" type="ui.py" name="mini_ui" output="screen" args="$(arg config)"/>

    <!-- launch recorder -->
    <node pkg="mini_tools" type="record.py" name="recorder" output="screen" args="$(arg config)" />
    
    <!-- launch web_video_server -->
    <node pkg="web_video_server" type="web_video_server" name="web_video_server"/> 
</launch>