<launch>

    <node pkg="follow_the_leader" type="follow_the_leader.py" name="follow_the_leader" output="screen" />
    <!-- <node pkg="control" type="control.py" name="minidrone_control" output="screen" /> -->
    <!-- <include file="$(find control)/launch/dualshock.launch" /> -->
    <include file="$(find follow_the_leader)/launch/detectnet.ros1.launch" />
    <!-- <include file="$(find twist_mux)/launch/twist_mux.launch" /> -->
    <!-- <node name="compressed_transport_0" pkg="image_transport" type="republish" args="raw in:=/video_source/raw compressed out:=/video_source" /> -->


</launch>